*.o
*.d
/methods/mcmc
/methods/rejection
/methods/smc
/methods/sweep
/methods/rejection-mpi
/methods/mcmc-mpi
/methods/smc-mpi
/methods/sweep-mpi
/samplers/uniform
/samplers/normal
/densities/uniform_pdf
/densities/normal_pdf
/examples/biased-coin-flip/binomial-sampler
/examples/biased-coin-flip/uniform-sampler
/examples/epithelial-cell-growth/VertexBasedMonolayerSimulator
/examples/epithelial-cell-growth/uniform-sampler
/examples/epithelial-cell-growth/normal-pdf
/examples/epithelial-cell-growth/normal-sampler
